.center { 
    text-align: center;
    font-family:cursive;
    border: 3px solid black;
}
h2 { text-align: center;
    font-family: cursive;
}
.title{text-align: center;
font-family: cursive;
color: red;
border: 3px solid red;
}
p {font-size: 20px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
    font-family: 16px;
}
.red-border{
    border: 3px red;
}

header {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: auto;
    width: 93%;
}
main {
    border: 3px dotted green;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.inline li {
    display:inline
}
